<!DOCTYPE html>
<html lang="en">
   <!-- //HEAD PARTIALS-->
   <%- include('../partials/head') %>
<body class="vistas_productos">

	<%- include('../partials/header',{ title:'Camisas'}) %>
    <br>
    <main class="container__products__views">
        <% products.forEach(({id, name, category, mainImage, images, description, precio,descuento}) => { %>
            <% if (category === 'camisas') { %>
                <article class="container_products_articulos">
                    <div class="imagenes_de_los_productos">
                        <img src="/img/<%= mainImage %>" alt="">
                    </div>
                    <article class="info__product">
                        <h2><%= name %></h2>
                        <p class="precio"><%= precio %></p>
                        <!-- Añade más detalles según tus necesidades -->
                        <button>Ver Mas</button>
                    </article>
                </article>
            <% } %>
        <% }); %>
    </main>
    <br>
    
    <!-- //FOOTER PARTIALS-->
    <%- include('../partials/footer') %>
    
</body>
</html>
