<!DOCTYPE html>
<html lang="en">
   <!-- //HEAD PARTIALS-->
   <%- include('../partials/head') %>
<body class="vistas_productos">

	<%- include('../partials/header',{ title:'PANTALONES'}) %>
    <br>
    <div class="container-title">Inicio / Pantalones </div>
    <main class="container__products__views">
        <% products.forEach(({id, name, category, image, images, description, price,descount}) => { %>
            <% if (category === 'PANTALONES') { %>
                <article class="container_products_articulos">
                    <div class="imagenes_de_los_productos">
                        <img src="/img/<%= image %>" alt="">
                    </div>
                    <article class="info__product">
                        <h2 class="name"><%= name %></h2>
                        <p class="price"><%= price %></p>
                        <p class="descuentos">20% off</p>
                        <!-- Añade más detalles según tus necesidades -->
                        <div class = " btn-vermas">
                        <button><a href="/productos/detalle/<%= id %>">Ver Mas</a></button>
                        </div>
                    </article>
                </article>
            <% } %>
        <% }); %>
    </main>
    <br>
    <!-- //FOOTER PARTIALS-->
    <%- include('../partials/footer') %>
    
</body>
</html>
