<!DOCTYPE html>
<html lang="en">
   <!-- //HEAD PARTIALS-->
   <%- include('../partials/head') %>
<body class="vistas_productos">

	<%- include('../partials/header') %>
    <br>
    <div class="container-title">Inicio / <%= category %> </div>
    <main class="container__products__views">
        
        <% products.forEach(({id, name, categoryId, image,images, description, price, descount}) => { %>
            
               
                <article class="container_products_articulos">
                    
                        <div class="imagenes_de_los_productos">
                                <img src="/img/<%= image %>" alt="<%= name %>">
                        </div>
                  
                    
                    <article class="info__product">
                        <h2 class="name"><%= name %></h2>
                        <div>
                            <p style="display: inline;">$</p>
                            <p class="price" style="display: inline;"><%= price %></p>
                        </div>
                        <% if (descount) { %>
                            <p class="descuentos"><%= descount %></p>
                        <% } %>
                        
                        <div class="btn-vermas">
                            <button><a href="/productos/detalle/<%= id %>"> Ver Más</a></button>
                        </div>
                    </article>
                </article>
            <% }) %>
        
    </main>
    <br>
    <!-- //FOOTER PARTIALS-->
    <%- include('../partials/footer') %>
    
</body>
</html>
