<!DOCTYPE html>
<html lang="es">
   <!-- //HEAD PARTIALS-->
   <%- include('../partials/head',{
    title:'EDITAR'
})  %>
<body>
    <%- include('../partials/header-admin') %>

    <main class="container">
        <section class="row my-5">
            <div class="col-12 col-md-10 mx-auto">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="/admin" class="text-primary">Home</a></li>
                              <li class="breadcrumb-item active" aria-current="page"> Editar Producto </li>
                            </ol>
                          </nav>
                    </div>
                    <div class="card-body ">
                      
                        <form action="/productos/actualizar/<%= id %>?_method=PUT" class="row" method="POST" enctype="multipart/form-data">
                            <h3>Editar: <%= name %> </h3>
                            <hr>
                            <div class="col-12 col-md-6 mb-3">
                             
                                <div class="form-floating ">
                                    <input name="name" type="text" class="form-control" id="name" value="<%= name %>" >
                                    <label for="name">Nombre</label>
                                  </div>
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                              <div class="form-floating">
                                <input name="price" type="text" class="form-control" id="price" value="<%= price %>" >
                                <label for="address">Precio</label>
                              </div>
                            </div>

                            <div class="col-12 col-md-6 mb-3">
                              <div class="form-floating">
                                <input name="descount" type="text" class="form-control" id="descount" VALUE="<%= descount %>">
                                <label for="address">Descuento</label>
                              </div>
                            </div>

                           
                            <div class="col-12 col-md-6 mb-3">
                              <div class="form-floating ">
    
                                <select name="colors" class="form-select <%= (locals.errors && errors.colorsId)  && 'is-invalid'%>" id="colors" aria-label="Floating label select example">
                                  <option value="" selected hidden></option>
                                  <% colors.forEach(colors => { %>
                                    <option value="<%= colors.id %>" <%= colorsId == colors.id && 'selected'  %>><%= colors.name %></option>
                                  <% }) %>
                                </select>
                                <label for="colors">Color</label>
                              </div>
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                             
                                <div class="form-floating">
                                  <select name="categoryId" class="form-select <%= (locals.errors && errors.categoryId)  && 'is-invalid'%>" id="categoryId" aria-label="Floating label select example">
                                    <option value="" selected hidden></option>
                                    <% categories.forEach(category => { %>
                                      <option value="<%= category.id %>" <%= categoryId == category.id && 'selected'  %>><%= category.name %></option>
                                    <% }) %>
                                  </select>
                                  <label for="category">Categoría</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                              <div class="form-floating">
                                <select name="sizes" class="form-select <%= (locals.errors && errors.sizesId)  && 'is-invalid'%>" id="sizes" aria-label="Floating label select example">
                                  <option value="" selected hidden></option>
                                  <% sizes.forEach(sizes => { %>
                                    <option value="<%= sizes.id %>" <%= sizesId == sizes.id && 'selected'  %>><%= sizes.name %></option>
                                  <% }) %>
                                </select>
                                <label for="sizes">Talla</label>
                              </div>
                          </div>

                              <div class="col-12 col-md-3 mb-3">
                                  <input name="image" type="file" class="form-control" id="image" hidden value="<%= image %>">
                                  <label class="btn btn-lg btn-outline-dark w-100" for="image">Imagen principal</label>
                              </div>
                              <div class="col-12 col-md-3 mb-3">
                                <input  name="images" type="file" class="form-control" id="images" hidden multiple value="<%= image %>" >
                                <label class="btn btn-lg btn-outline-dark w-100" for="images">Imágenes</label>
                            </div>
                            <div class="col-12 mb-3">
                                <div class="form-floating">
                                    <textarea name="description" class="form-control" id="description" style="height: 200px;">"<%= description %>" </textarea>
                                    <label for="description">Descripción</label>
                                  </div>
                                </div>
                          
                            </div>
                           
                            <div class="col-12 d-flex justify-content-end">
                                <button class="btn btn-lg btn-dark">Guardar cambios</button>
                            </div>
                        </form>
                        

                    </div>
                </div>
            </div>
        </section>
    </main>








  <%- include('../partials/scripts') %>
</body>
</html>