<!DOCTYPE html>
<html lang="en">
   <!-- //HEAD PARTIALS-->
   <%- include('../partials/head') %>
<body class="vistas_productos">

	<%- include('../partials/header',{ title:'REMERAS'}) %>
    <br>
    <div class="container-title">Inicio / Remeras </div>
    <main class="container__products__views">
        
        <% products.forEach(({id, name, categoryId, images, description, price, descount}) => { %>
            
            <% if (categoryId === 1) { %>
                
                <article class="container_products_articulos">
                    
                    <% if (images&& images.length > 0) { %>
                        <div class="imagenes_de_los_productos">
                            <% images.forEach(image => { %>
                                <img src="/img/<%= image.file %>" alt="<%= name %>">
                            <% }) %>
                        </div>
                    <% } else { %>
                        <p>No hay imágenes disponibles</p>
                    <% } %>
                    
                    <article class="info__product">
                        <h2 class="name"><%= name %></h2>
                        <p class="price"><%= price %></p>
                        <p class="descuentos"><%= descount %></p>
                        <!-- Añade más detalles según tus necesidades -->
                        <div class="btn-vermas">
                            <button><a href="/productos/detalle/<%= id %>"> Ver Más</a></button>
                        </div>
                    </article>
                </article>
            <% } %>
        <% }); %>
        
    </main>
    <br>
    <!-- //FOOTER PARTIALS-->
    <%- include('../partials/footer') %>
    
</body>
</html>
