<!DOCTYPE html>
<html lang="en">

    <!-- //HEAD PARTIALS-->
    <%- include('../partials/head',{
        title:'Login'
    })  %>

<body class="body__login">
    <!-- //HEADER PARTIALS-->
    
    <%- include('../partials/header') %>

    <main class="box__main">
        <h4>inicio / mi cuenta / <strong>Login</strong></h4>
        <div class="box__card">
            <article class="article--login">
                <h5>Comprá más rápido y llevá el control de tus pedidos, ¡en un solo lugar!</h5>
                <img src="/img/login/logo_login.png" alt="" width="200">
            </article>
            <section class="row">
                <div class="col-12 col-md-12 col-lg-12 mx-auto my-5">
                    <div class="card shadow">
                        <div class="card-header">
                            <h4 class="card-title">INICIAR SECIÓN </h4>
                        </div>
                        <div class="card-body">
                            <form action="" class="row" method="POST">
                                <div class="col-12 mb-3">
                                    <label for="email" class="form-label">Correo electrónico</label>
                                    <input type="email" name="email" class="form-control" id="email" placeholder="lolo@gmail.com">
                                    <small class="text-danger ms-2"> <%= locals.errors && errors.email ? errors.email.msg : null %></small>
                                </div>
                                  <div class="col-12 mb-3">
                                    <label for="password" class="form-label">Contraseña</label>
                                    <input type="password" name="password"class="form-control" id="password">
                                    <small class="text-danger ms-2"> <%= locals.errors && errors.password ? errors.password.msg : null %></small>
                                </div>
                                  <div class="col-12 col-md-6 mb-3">
    
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="remember" name="remember">
                                    <label class="form-check-label" for="remember">
                                      Recordame
                                    </label>
                                  </div>
                                  
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <button class="btn btn-dark w-100">Ingresá</button>
    
                            </div>
                            <div class="form__redes">
                                <a href="https://www.facebook.com"><i class="fa-brands fa-square-facebook"></i></a>
                                <a href="https://www.instagram.com"><i class="fa-brands fa-square-instagram"></i></a>
                                <a href="https://twitter.com/?lang=es"><i class="fa-brands fa-x-twitter"></i></a>
                                <a href="https://www.tiktok.com/es/"><i class="fa-brands fa-tiktok"></i></a>
                            </div>
                            <div class="form__buttom">
                            <button class="buttom__login" type="submit">
                                login
                            </button>
                            <p>¿No tenes cuenta?<a href="registro">Crear cuenta</a></p>
                            </div>

                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="carrusel-contenedor-padre-info">
            
            
            <div class="home_main-carrusel-info-con" id="contenedorInfo1">

                <div class="home_main-carrusel-info" id="envios">
                   
                    <i class="fa-solid fa-truck"></i>
                    <h3>ENVIOS A TODO EL PAIS</h3>
                    <h5>Sin cargo a partir de $8000</h5>
                </div>

            </div>
             
            <div class="home_main-carrusel-info-con" id="contenedorInfo2">

                <div class="home_main-carrusel-info" id="pago">
                   
                    <i class="fa-regular fa-credit-card"></i> 
                    <h3>PAGA COMO QUIERAS</h3>
                    <h5>Aceptamos todos los medios de pago</h5>
                </div>

                

            </div>
             
            <div class="home_main-carrusel-info-con" id="contenedorInfo3">

                <div class="home_main-carrusel-info" id="cambios">
                   
                    <i class="fa-solid fa-arrows-rotate"></i>
                    <h3>CAMBIOS Y DEVOLUCIONES</h3>
                    
                </div>
            </div>
            
            
        </div>

        <div class="carrusel-punto-info">
            <a href="#contenedorInfo1">•</a>
            <a href="#contenedorInfo2">•</a>
            <a href="#contenedorInfo3">•</a>
        </div>
    
    </main>
    <!-- //FOOTER PARTIALS-->
    <%- include('../partials/footer') %>
</body>

</html>